<div class="divLoggin">
    <div class="container" style="display: flex; justify-content: space-between;">
        <div>
            <a href="/products" class="product-button">Ir a Productos</a>
        </div>

        <div class="container">
            <div class="cart-container">
                <div class="cart-icon">
                    <a href="/carts/{{user.cart}}">
                        <img src="/img/cart.png" alt="carrito de compras" style="width: 30px;">
                    </a>
                    <span class="cart-item-count">{{cantidadItems}}</span>
                </div>
                {{!-- <span class="cart-item-count">{{cartItemCount}}</span> --}}
            </div>
            <div class="user-session">
                <p class="msj-session">Bienvenido, <strong>{{user.first_name}} {{user.last_name}}</strong>!!!</p>
                <p class="msj-session">{{user.rol}}</p>
            </div>
            <div class="logout">
                <form id="log-out-session-Form" action="{{logout}}" method="post">
                    <input type="hidden">
                    <button class="Log-Out" type="submit">Salir</button>
                </form>
            </div>
        </div>


    </div>
</div>
<div class="product-detail-container">
    <div class="product-detail-text">
        <h1 class="product-detail-title">{{product.title}}</h1>
        <p class="product-detail-description">{{product.description}}</p>
        <p class="product-detail-price"><strong>Precio:</strong> ${{product.price}}</p>
        <div class="input-container">
            <input type="text" class="add-to-cart-value" id="{{product._id}}" name="name" required minlength="4"
                maxlength="4" size="10" style="max-width: 20px;" value="1" />

            <form id="add-to-carrito" method="put" data-cid="{{cart}}" data-pid="{{product._id}}">
                <button id="add-to-cart" class="add-to-cart-button" type="button">Agregar al Carrito</button>
            </form>
        </div>
    </div>
    <div class="product-images">
        {{#each product.thumbnail}}
        <img src="{{this}}" alt="Imagen del producto" class="product-detail-image">
        {{/each}}
    </div>
</div>
<script src="/js/logOutManager.js"></script>
<script src="/js/addProductToCart.js"></script>