<div class="divLoggin">
    <div class="container">
        <div class="cart-container">
            <div class="cart-icon">
                <a href="/carts/{{user.cart}}">
                    <img src="/img/cart.png" alt="carrito de compras" style="width: 30px;">
                </a>
                <span class="cart-item-count">{{cantidadItems}}</span>
            </div>
        </div>
        <div class="user-session">
            <p class="msj-session">Bienvenido, <strong>{{user.first_name}} {{user.last_name}}</strong>!!!</p>
            <p class="msj-session">{{user.rol}}</p>
        </div>
        <div class="logout">
            <form id="log-out-session-Form" action="{{logout}}" method="post">
                <input type="hidden">
                <button class="Log-Out" type="submit">Salir</button>
            </form>
        </div>
    </div>
</div>
<div class="product-detail-container">
    <div class="product-detail-text">
        <h1 class="product-detail-title">{{product.title}}</h1>
        <p class="product-detail-description">{{product.description}}</p>
        <p class="product-detail-price"><strong>Precio:</strong> ${{product.price}}</p>

        <form id="add-to-carrito" method="put" data-cid="{{cart}}" data-pid="{{product._id}}">
            <button id="add-to-cart" class="add-to-cart-button" type="button">Agregar al Carrito</button>
        </form>
    </div>
    <div class="product-images">
        {{#each product.thumbnail}}
        <img src="{{this}}" alt="Imagen del producto" class="product-detail-image">
        {{/each}}
    </div>
</div>
<script src="/js/logOutManager.js"></script>
<script src="/js/addProductToCart.js"></script>