<div class="divLoggin">
    <div class="container">
        <div class="cart-container">
            <div class="cart-icon">
                <a href="/carts/{{user.cart}}">
                    <img src="/img/cart.png" alt="carrito de compras" style="width: 30px;">
                </a>
                <span class="cart-item-count">{{cantidadItems}}</span>
            </div>
            {{!-- <span class="cart-item-count">{{cartItemCount}}</span> --}}
        </div>
        <div class="user-session">
            <p class="msj-session">Bienvenido, <strong>{{user.first_name}} {{user.last_name}}</strong>!!!</p>
            <p class="msj-session">{{user.rol}}</p>
        </div>
        <div class="logout">
            <form id="log-out-session-Form" action="{{logout}}" method="post">
                <input type="hidden">
                <button class="Log-Out" type="submit">Salir</button>
            </form>
        </div>
    </div>
</div>

<div data-cid="{{cart}}">
    {{#each docs}}
    <div class="product-container">
        <div class="product-details">
            <p class="product-title"> {{this._doc.title}}</p>
            <p class="product-price"><strong>Precio:</strong> ${{this._doc.price}}</p>
        </div>
        <form id="add-to-carrito" method="put" data-cid="{{this.cart}}" data-pid="{{this._doc._id}}">
            <button id="add-to-cart" class="add-to-cart-button" type="button">Agregar al Carrito</button>
        </form>
        <div class="product-images">
            {{#each this._doc.thumbnail}}
            <img src="{{this}}" alt="Imagen del producto" class="product-image">
            {{/each}}
        </div>
        <div>
            <a href="/api/products/{{this._doc._id}}" class="product-button">Ver Más...</a>
        </div>
    </div>

    {{/each}}
    <div class="pagination-container">
        {{#if hasPrevPage}}
        <a href="/products?page={{prevPage}}" class="pagination-button">Anterior</a>
        {{/if}}
        {{#each pageNumbers}}
        <a href="/products?page={{this}}" class="pagination-button">{{this}}</a>
        {{/each}}
        {{#if hasNextPage}}
        <a href="/products?page={{nextPage}}" class="pagination-button">Siguiente</a>
        {{/if}}
    </div>
</div>
<script src="/js/logOutManager.js"></script>
<script src="/js/addProductToCart.js"></script>

